.catalog
    width: 100%
    margin: 0 auto
    padding: 0 0 30px 0
    /* .catalog__inner */
    &__inner
        width: 100%
        margin: 0 auto
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 20px
    /* .catalog__item */
    &__item
        line-height: 24px
        text-decoration: none
        display: inline-block
        color: #000000
    /* catalog__img-wraper */
    &__img-wraper
        width: 100%
        max-width: 300px
        height: 100%
        max-height: 300px
        display: flex
        justify-content: center
        align-items: center

    /* catalog__img */

    &__img
        width: 100%
    /* .catalog__item-title */
    &__item-title
        font-style: normal
        font-weight: normal
        font-size: 18px
        margin-bottom: 30px
    /* .catalog__item-text */
    &__item-text
        font-weight: 300
        margin-bottom: 30px
    /* .catalog__item-old */
    &__item-old

    /* .catalog__item-new */
    &__item-new
        font-weight: 700
        margin-bottom: 25px
    /* .catalog__item-btn */
    &__item-btn
        width: 100%
        text-align: center
    &__btn
        margin-top: 55px
        width: 100%
        text-align: center
