.header
    width: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    margin-top: 70px
    z-index: 3
    /* .header__inner */
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
    /* .header__logo */
    &__logo
        color: #fff
    /* .header__logo-title */
    &__logo-title
        @include dm
        font-weight: 700
        font-size: 24px
    /* .header__logo-subtitle */
    &__logo-subtitle
        @include roboto
        font-weight: 300
        font-size: 12px
    /* .header__nav */
    &__nav
        font-weight: 700
        font-size: 20px
    /* .header__link */
    &__link
        text-decoration: none
        color: #fff

        text-transform: uppercase
    &__link + &__link
        margin-left: 20px
